/* Style Guide for ananfito.github.io */

:root {
  --main-white: #fff;
  --main-blue: #4276b6;
  --main-yellow: #ffcc00;
  --main-gray: #606c71;
}


/* BASE RESET */

* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}


/* BASE STYLES */
body {
  font-family: 'Lato', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  color: var(--main-gray);
}

.about-info, .certificate-grid {
  padding: 0 1em;
}

h1,
h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-align: center;
  color: var(--main-blue);
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.2rem;
}

h3 {
  color: var(--main-blue);
}

p {
  margin: 1em auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-blue);
}

img {
  display: block;
  width: 100%;
}


/* NAVBAR */

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--main-yellow);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.nav-list {
  display: flex;
  margin-right: 2rem;
}

@media (max-width: 28.75em) {
  .nav {
    justify-content: center;
  }

  .nav-list {
    margin: 0 1rem;
  }
}

.nav-list a {
  display: block;
  font-size: 2.2rem;
  font-weight: bold;
  padding: 2rem;
}

.nav-list a:hover {
  background: var(--main-white);
}


/* WELCOME SECTION */

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--main-yellow);
  background-image: linear-gradient(120deg, var(--main-blue), var(--main-yellow));
}

.welcome-section > h1 {
  color: var(--main-white);
}

.welcome-section > p {
  font-size: 3rem;
  font-weight: bold;
  font-style: italic;
  color: var(--main-white);
  opacity: 0.7;
}


/* ABOUT SECTION */

.about-section {
  display: block;
  margin: 5rem auto 3rem auto;
  padding: 1rem 0.5rem 1rem 0.5rem;
  line-height: 1.6;
  justify-content: space-evenly;
  max-width: 1280px;
}

.about-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid var(--main-gray);
}

.about-info {
  max-width: 1080px;
  margin: 0 auto;

}

.skills-list {
  margin: 10px auto 10px auto;
}

.skills-list > ul {
  margin: 0 auto 50px auto;
  text-align: left;
  padding-inline-start: 40px;
  line-height: 1.6;
  list-style: disc;
}

.certificate {
  background: var(--main-blue);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;

}

.certficate-header {
  text-align: center;
}

.certificate-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 2em auto;
}

@media (max-width: 30.625em) {
  .about-section {
    padding: 6rem 1rem;
  }

  .certificate-grid {
    grid-template-columns: 1fr;

  }
}

.certificate-grid > a {
  color: var(--main-yellow);

}

.certificate-grid > a:hover {
  background: var(--main-yellow);
  color: var(--main-blue);
}

.certificate-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}

.certificate-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
  text-align: center;
}


/* PROJECTS SECTION */

.projects-section {
  text-align: center;
  padding: 10rem 2rem;
}

.projects-wrapper {  padding: 0 1em; }

.projects-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid var(--main-gray);
}

@media (max-width: 28.75em) {
  .projects-section-header {
    font-size: 4rem;
  }
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

@media (max-width: 30.625em) {
  .projects-section {
    padding: 6rem 1rem;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}

.project {
  background: var(--main-blue);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.projects-grid > a {
  color: var(--main-yellow);

}

.projects-grid > a:hover, .btn-view-more:hover {
  background: var(--main-yellow);
  color: var(--main-blue);
}

.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}

.project-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
}

.btn-view-more {
  padding: 1rem 4rem;
  color: var(--main-yellow);
  border: none;
  background-color: var(--main-blue);
  border-radius: 2px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  font-size: 1.95rem;
}

@media (min-width: 600px) {
  .btn-view-more { 
    padding: 2rem 12rem;
    font-size: 2rem;
  }
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}

.more-examples {
  margin-top: 3em;
}

.hidden {
  display: none;
}

.more-examples > a {
  color: var(--main-gray);
}

.more-examples > a:hover {
  color: var(--main-blue);
}


/* CONTACT SECTION */

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  padding: 0 2rem;
  background: var(--main-blue);
  color: var(--main-white);
}

.contact-section p {
  color: var(--main-white);
  font-style: italic;

}

#contact-section-header {
  color: var(--main-white);
}

@media (max-width: 28.75em) {
  .contact-section-header > h2 {
    font-size: 4rem;
  }
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-links > a {
  color: var(--main-white);
}

.contact-details {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(8px);
  color: var(--main-yellow);
}


/* FOOTER */

footer {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  background: var(--main-white);
  border-top: 4px solid var(--main-yellow);
  color: var(--main-blue);
}

footer > p {
  margin: 2rem;
}

footer i {
  vertical-align: middle;
}

@media (max-width: 28.75em) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}
