* {
    margin: 0;
}

/* BASE STYLES */
code {
    background-color: rgba(167, 167, 167, 0.348);
    color: var(--main-blue);
    border-radius: 5px;
    padding: .1rem .2rem;
    font-size: .9rem;
    font-weight: 600;
}


/* HEADER */

.header-section {
    color: var(--main-white);
    background-color: var(--main-blue);
    padding: 1em 0 ;
    border-bottom: 3px solid var(--main-yellow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header-section__subtitle {
    color: var(--main-white);
    font-style: italic;
    opacity: 60%;
    font-size: 1.2rem;
}


/* RESUME */

.container {
    margin: 0 auto;
    max-width: 900px;
    padding: 0 1em;
    margin-bottom: 2em;
}

section {
    margin: 1.5em 0;
}

.resume-section__title {
    margin-bottom: .5em;
    color: var(--main-blue);
}

.job-position {
    margin-bottom: 1.5em;
}

#references {
    text-align: center;
    font-size: 1rem;
    font-style: italic;
    margin: 1.75em auto;
}

.print {
    text-align: center;
    margin: 3em 0;
    
}

#print-button {
    color: var(--main-gray);
    font-size: 1.5rem;
    border: none;
    background: none;
    cursor: pointer;
}

#print-button:hover {
    color: var(--main-blue);
}


/* FOOTER */

.contact {
    color: var(--main-white);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-blue);
    border-top: 3px solid var(--main-yellow);
    padding: 2em 0;
    font-size: 1rem;
    font-style: bold;
}

.contact__link, .contact__link:visited {
    text-decoration: none;
    color: var(--main-white);
    padding-bottom: .2em;
    margin-right: 1.5em;
}

.contact__link:hover {
    border-bottom: 2px solid var(--main-white);
    color: var(--main-yellow)
}


/* MEDIA QUERIES */

/* larger screens */
@media (min-width: 800px) {
    body {
        font-size: 1.25rem;
    }

    .header-section {
        font-size: 1.5rem;
    }

    .header-section__subtitle {
        font-size: 1.3rem;
    }

    .contact {
        font-size: 1.2rem;
    }
}

/* print */
@media print {
    * { 
        color: black; 
        margin: 0;
    }

    body { 
        font-size: 11px;
    }

    code {
        font-size: .6rem;
    }

    .link {
        border-bottom: 1.5px solid var(--main-yellow);
    }

    header h1 {
        color: var(--main-blue);
    }

    .header-section__subtitle {
        opacity: 1;
        color: var(--main-gray);
    }

    section {
        margin-bottom: .5em;
    }

    #references {
        font-size: 9px;
    }

    .print {
        display: none;
    }

    .contact {
        position: fixed;
        bottom: 0;
        width: 100%;
        margin: 0;
        padding: 0;
        border-top: none;
        font-size: 10px;
        justify-content: space-between;
    }

    #email-link::after {
        content: ': ananfito@protonmail.com';
    }

    #portfolio-link::after {
        content: ': ananfito.github.io';
    }

    #linkedin-link::after {
        content: ': linkedin.com/in/anthonynanfito'
    }
}
