:root {
  --main-white: #fff;
  --main-blue: #4276b6; 
  --main-yellow: #FFcC00; /* bright yellow */
  --secondary-yellow: #E6AE2F; /* subdued/golden yellow */
  --main-gray: #505657;
  --main-gray-rgb: 31, 34, 34;

}

/* BASE RESET */

* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}


/* BASE STYLES */

body {
  font-family: 'Inter', 'Lato', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.5;
  color: var(--main-gray);
  font-size: 2rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Plus Jakarta Sans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

h1,
h2 {
  font-weight: 700;
  text-align: center;
  color: var(--main-blue);
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.2rem;
}

h3 {
  font-size: 3.2rem;
  color: var(--main-blue);
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.7rem;
}

p {
  margin: 1em auto;
}

.image {
  display: block;
  width: 60%;
  margin: 2em auto;
}

.hidden {
  display: none;
}

a, .link, .link:visited {
  text-decoration: none;
}

.link, .link:visited {
  color: var(--main-blue);
}

.link:hover {
  border-bottom: 2px solid var(--main-blue);
}

.codetag {
  background-color: rgba(var(--main-gray-rgb), 0.2);
  border-radius: .1cm;
  padding: 2px 5px;
  /* color: black; */
  /* color: var(--main-white); */
  font-family: 'Courier';
}

.question {
  text-align: center;
  font-weight: bold;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}

/* section styles */
.about-info, .certificate-grid {
  padding: 0 1em;
}

.container {
  display: block;
  margin: 2rem auto;
  padding: 2em;
  line-height: 1.6;
  justify-content: center;
  max-width: 850px;
}

.section-header {
  max-width: 640px;
  margin: 6rem auto;
  padding-top: 4rem;
  border-bottom: 0.2rem solid var(--main-gray);
}

.list {
  margin: 10px auto 10px auto;
}

.list > ul {
  margin: 0 auto 50px auto;
  text-align: left;
  padding-inline-start: 40px;
  line-height: 1.6;
  list-style: disc;
}


/* NAVBAR */

.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--main-yellow);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.nav-list {
  display: flex;
  margin-right: 2rem;
  list-style: none;
}

.nav-list a {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem;
  color: var(--main-blue)
}

.nav-list a:hover {
  background: var(--main-white);
}

/* WELCOME SECTION */

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--main-blue);
  margin-top: 7rem;
}

.welcome-section .profile-img {
  border-radius: 50%;
  width: 8em;
  border: 3px solid var(--main-yellow);
  margin: 2em auto;
}

.welcome-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-content > h1 {
  color: var(--main-white);
}

.welcome-content > p {
  font-size: 3rem;
  font-weight: bold;
  font-style: italic;
  color: var(--main-white);
  opacity: 0.8;
  text-align: center;
}

.welcome-content > h1, .welcome-content > p {
  padding: 0 1em;
}


/* ABOUT PAGE */

.skills-list {
  margin: 10px auto 10px auto;
}

.skills-list > ul {
  margin: 0 auto 50px auto;
  text-align: left;
  padding-inline-start: 40px;
  line-height: 1.6;
  list-style: disc;
}

.more-examples {
  margin: 5rem auto 10rem;
  text-align: center;
}

.more-examples > h4 {
  margin-bottom: 1em;
}

.more-examples__link {
  display:inline-block;
  margin: 1.5rem;
  padding-bottom: 0.2rem;
}

.more-examples__link {
  color: var(--main-gray);
}

.more-examples__link:hover {
  color: var(--main-blue);
}


/* PROJECTS SECTION */

/* box shadow for certificates and project cards */
.project, .certificate {
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.5);
}

.projects-section {
  text-align: center;
  margin: 5rem auto 6rem;
  padding: 1rem 4rem;
}

.projects-section-header, .certficate-header {
  max-width: 640px;
  margin: 0 auto 6rem;
  border-bottom: 0.2rem solid var(--main-gray);
}

.analytics-projects-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  margin: 2em auto;
  max-width: 980px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--main-blue);
  border-radius: 2px;
  padding: 1em;
}

.card p {
  font-style: italic;
}

.card_links {
  margin: 1.5em;
}


/* Certificate Section */

.certificate {
  background: var(--main-blue);
  border-radius: 2px;
}

.certficate-header {
  text-align: center;
}

.certificate-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 980px;
  margin: 2em auto;
}

.certificate-grid > a {
  color: var(--main-yellow);
}

.certificate-grid > a:hover {
  background: var(--main-yellow);
  color: var(--main-blue);
}

.certificate-image {
  height: 10em;
  width: 100%;
  object-fit: cover;
}

.certificate-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
  text-align: center;
}


/* CONTACT SECTION */

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  padding: 0 2rem;
  background: var(--main-blue);
  color: var(--main-white);
}

.contact-section p {
  color: var(--main-white);
  font-style: italic;
}

#contact-section-header {
  color: var(--main-white);
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-links > a {
  color: var(--main-white);
}

.contact-details {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(8px);
  color: var(--main-yellow);
}

/* FOOTER */

footer {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  background: var(--main-white);
  border-top: 4px solid var(--main-yellow);
  color: var(--main-blue);
}

footer > p {
  margin: 2rem;
}

footer i {
  vertical-align: middle;
}

/* MEDIA QUERIES */

/* MAX-width */

/* desktop */
@media (max-width: 1200px) {
  html {
    font-size: 60%;
  }
}

/* tablet/landscape */
@media (max-width: 980px) {
  html {
    font-size: 58%;
  }
}
/* mobile */
@media (max-width: 460px) {
  html {
    font-size: 55%;
  }

  .nav {
    justify-content: center;
  }

  .nav-list {
    margin: 0 1rem;
  }

  .about-section {
    padding: 6rem 1rem;
  }

  .certificate-grid {
    grid-template-columns: 1fr;
  }

  .projects-section {
    padding: 6rem 1rem;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }

  .projects-section-header {
    font-size: 4rem;
  }

  .analytics-projects-wrapper {
    grid-template-columns: 1fr;
  }

  .contact-section-header > h2 {
    font-size: 4rem;
  }

  footer {
    flex-direction: column;
    text-align: center;
  }
}

/* MIN-width */

/* desktop */
@media (min-width: 1000px) {
  .welcome-section {
    flex-direction: row;
    margin-top: 0;
  }

  .welcome-img {
    margin-right: 5em;
  }

  .welcome-section {
    padding: 0 2em;
  }

  .welcome-content > h1, .welcome-content > p {
    padding: 0;
  }
}

/* tablet/mobile */
@media (min-width: 600px) {
  .btn-view-more { 
    padding: 2rem 12rem;
    font-size: 2rem;
  }
}
