:root {
    --main-white: #fff;
    --main-blue: #4276b6; 
    --main-yellow: #FFcC00; /* bright yellow */
    --secondary-yellow: #E6AE2F; /* subdued/golden yellow */
    --main-gray: #505657;
  }

body {
  font-family: 'Inter', 'Lato', 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.5;
  color: var(--main-gray);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Plus Jakarta Sans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

a, .link, .link:visited {
  text-decoration: none;
}

.link, .link:visited {
  color: var(--main-blue);
}

.link:hover {
  border-bottom: 2px solid var(--main-blue);
}

.header-link {
  text-decoration: none;
  color: inherit;
  text-align: center;
}

.header-link:hover {
  cursor: pointer;
}
